html {
  background-color: grey;
  color: white;
  font-family: "Source Sans Pro";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Shag Lounge";
}
.navbar {
  height: 82px;
  background-color: #0074bd;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
