element.style {
  --alfWww-_version: 1;
  --alfWww-page: #fcfcfc;
  --alfWww-page-colorScheme: light;
  --alfWww-navbar: #0074bd;
  --alfWww-navbar-text: #ffffff;
}
html, body {
    background-color: var(--alfWww-page);
    color-scheme: var(--alfWww-page-colorScheme);
}
html, body {
    display: block;
    margin: 0;
    background-color: #4d97ff;
    padding: 0;
    color: #575e75;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
h1, h2, h3 {
  font-family: "Shag Lounge";
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html[Attributes Style] {
    -webkit-locale: "en-US";
}
body {
    margin: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
#navigation, .dropdown, .dropdown.with-arrow::before, .user-projects-modal .user-projects-modal-title, .transfer-host-modal .transfer-host-title {
    background-color: var(--alfWww-navbar);
    color: var(--alfWww-navbar-text);
}
#navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    background-color: #0074bd;
    width: 100%;
    height: 32px;
}
nav {
    display: block;
}
nav {
    display: block;
    unicode-bidi: isolate;
}
